*{
    margin: 0;
    padding: 0;
}
form{
    margin-left: 2%;
    margin-top: 2%;
}
label{
    display: block;
    margin-bottom: .5%;
}
input, select,textarea{
    margin-bottom: 2%;
    width: 20vw;
    height: 2.5vw;
    background: white;
    line-height: 2.5vw;
}
textarea{
    height: 5vw;
    resize: none;
}
input[type="radio"], input[type="checkbox"]{
    width: auto;
    height: auto;
    margin-bottom: .6%;
}
span{
    display: inline-block;
    background: #00f7ff;
    padding: .2% .5% .2% .5%;
    margin-bottom: .3%;
    border-radius: 10px;
}
.islam{
    background: #4c49e9;
}
input[type="submit"]{
    width: 10vw;
    background: #1ad4d4;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.5vw;
    border-radius: 5px;
}
form a{
    display: inline-block;
    width: 10vw;
    height: 3vw;
    background: white;
    line-height: 3vw;
    text-decoration: none;
    margin-left: 2%;
    font-size: 1.5vw;
}
form a img{
    width: 18px;
}